<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{title}}</title>
	<meta name="description" content="{{title}} by {{artist}}">
	<meta name="author" content="">
    <link href="../css/global.css" type="text/css" rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
			<li class="siteName"><a href="/">Sense</a></li>
            <li><a href="../logout">Logout</a></li>
			<li><a href="../login">Login/Signup</a></li>
			<li><a href="../upload">Upload</a></li>
			<li class="dropdownList">
				<a href="javascript:void(0)">Playlists</a>
                <ul class="dropdownListContent">
                    <li><a href="../playlists">Create or add to a Playlist</a></li>
                    <li><a href="../library">View your Playlists</a></li>
                    <li><a href="../browse">View all Playlists</li>
                </ul>
			</li>
			<li><a href="../songs">Songs</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <section>
        {{#if msg}}
            <p class="msg">{{msg}}</p>
        {{/if}}

        <section class="playbackContain">
            <section class="playbackArt">
                <img src="/art/{{id}}">
            </section>
            <section class="playbackInfo">
                <h2>{{title}}</h2>
                <h3>{{artist}} | {{year}}</h3>
            </section>
        </section>
        <audio controls class="playbackControls">
            <source src="/music/{{id}}.mp3" type ="audio/mpeg">
            Your browser does not support the MP3 file type.
        </audio>
        <p>
            {{#if owner}}
            <form action="/delete-song/{{id}}">
                <button id="delete" type="submit">Delete</button>
            </form>
            {{/if}}
        </p>
    </section>

	<footer>
    	<hr>
        <p>Copyright &copy; 2019 Sense. All rights reserved.</p>
    </footer>
</body>
</html>