<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Create Playlist | Sense</title>
	<meta name="description" content="The playlist page for Sense.">
	<meta name="author" content="Tiago Ferreira">
    <link href="css/global.css" type="text/css" rel="stylesheet">
</head>

<body>
    
    <h1 class="webTitle"><a href="/">Sense</a></h1>
    <nav>
    <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="songs">Songs</a></li>
        <li><a href="playlists">Playlists</a></li>
        <li><a href="upload">Upload</a></li>
        <li><a href="login">Login/Signup</a></li>
        <li><a href="logout">Logout</a></li>
        <form>
            <input type="text" placeholder="Search...">
            <input type="image" src="icons/SearchBarIcon.png" alt="search button" name="submit" />
     </form>
    </ul>
    </nav>

    <section>
        <h2>Create Playlist</h2>
        {{#if msg}}
            <p class="msg" id="msg">{{msg}}</p>
        {{/if}}
        {{#if err}}
            <p>Error: {{err}}</p>
        {{/if}}
        <form action="/playlists" enctype="multipart/form-data" method="post">
            <p>Please name your playlist.</p>
            <input type="text" name="name" id="newName" placeholder="Name of playlist" value="" required>
            <p>Description.</p>
            <input type="text" name="description" id="newDesc" placeholder="Description of playlist" value="" required>
            <p><input type="submit" id="create" value="Create"></p>
        </form>
    </section>

    <section>
        <h2>Add to Playlist</h2>
        <form action="/playlistAdd" enctype="multipart/form-data" method="POST">
            <p>
                Select song: <br>
                <select name="song" required>
                    <option value="">Please select a song</option>
                    {{#each songs}}
                        <option value={{this.id}}>{{this.title}}</option>
                    {{/each}}
                </select>
            </p>
            <p>
                Select playlist: <br>
                <select name="playlist" required>
                    <option value="">Please select a playlist</option>
                    {{#each playlists}}
                    <option value="{{this.id}}">{{this.playlistName}}</option>
                    {{/each}}
                </select>
            </p>
            <p><input type="submit" value="Add to playlist"></p>
        </form>
    </section>

    <hr>
    <footer>
        <p>Copyright &copy; 2019 Sense. All rights reserved.</p>
    </footer>
</body>
</html>