<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Sense</title>
	<meta name="description" content="{{title}} by {{artist}}">
	<meta name="author" content="">
    <link href="css/global.css" type="text/css" rel="stylesheet">
	<link href="css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <h1 class="webTitle"><a href="/">Sense</a></h1>
    <nav>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/playlists">Playlists</a></li>
            <li><a href="/library">Library</a></li>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/login">Login/Signup</a></li>
            <form>
                <input type="text" placeholder="Search...">
				<input type="image" src="icons/SearchBarIcon.png" alt="search button" name="submit" />
            </form>
        </ul>
        
    </nav>

    <section>
        <h2>{{title}}</h2>
        <h3>{{artist}} | {{year}}</h3>
        <audio controls>
            <source src="/music/{{id}}.mp3" type ="audio/mpeg">
            Your browser does not support the MP3 file type.
        </audio>
        {{#if owner}}
            <a href="/delete/{{id}}">Delete</a>
        {{/if}}
    </section>

    <hr>
    <footer>
        <p>Copyright &copy; 2019 Sense. All rights reserved.</p>
    </footer>
</body>


</html>
