<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Senseeee</title>
	<meta name="description" content="Main page for the Sense Webpage">
	<meta name="author" content="">
    <link href="css/global.css" type="text/css" rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
			<li class="siteName"><a href="/">Sense</a></li>
            <li><a href="logout">Logout</a></li>
			<li><a href="login">Login/Signup</a></li>
			<li><a href="upload">Upload</a></li>
			<li class="dropdownList">
				<a href="javascript:void(0)">Playlists</a>
                <ul class="dropdownListContent">
                    <li><a href="playlists">Create or add to a Playlist</a></li>
                    <li><a href="library">View your Playlists</a></li>
                    <li><a href="browse">View all Playlists</li>
                </ul>
			</li>
			<li><a href="songs">Songs</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <section>
        <h2>Create Playlist</h2>
        {{#if msg}}
            <p class="msg" id="msg">{{msg}}</p>
        {{/if}}
        {{#if err}}
            <p>Error: {{err}}</p>
        {{/if}}
        <form action="/playlists" enctype="multipart/form-data" method="post" class="infoInput">
            <p>Please name your playlist.</p>
            <input type="text" name="name" id="newName" placeholder="Name of playlist" value="" required>
            <p>Description.</p>
            <input type="text" name="description" id="newDesc" placeholder="Description of playlist" value="" required>
            <p><input type="submit" id="create" value="Create"></p>
        </form>
        <h2></h2>
        <h2>Add to Playlist</h2>
        <form action="/playlistAdd" enctype="multipart/form-data" method="POST">
            <p>
                Select song: <br>
                <select id="song" name="song" required>
                    <option value="">Please select a song</option>
                    {{#each songs}}
                        <option value={{this.id}}>{{this.title}}</option>
                    {{/each}}
                </select>
            </p>
            <p>
                Select playlist: <br>
                <select id="playlist" name="playlist" required>
                    <option value="">Please select a playlist</option>
                    {{#each playlists}}
                    <option value="{{this.id}}">{{this.playlistName}}</option>
                    {{/each}}
                </select>
            </p>
            <p><input type="submit" id="link" value="Add to playlist"></p>
        </form>
    </section>


    <footer>
    	<hr>
        <p>Copyright &copy; 2019 Sense. All rights reserved.</p>
    </footer>
</body>
</html>