<!doctype html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
		<title>Sense</title>
		<meta name="description" content="form to add and search songs">
		<meta name="author" content="Tiago Ferreira">
		<link href="style.css" type="text/css" rel="stylesheet" />
        <link href="css/global.css" type="text/css" rel="stylesheet">
		<link href="css/login.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1>Songs</h1>
        <table>
            <tr>
                <th>File</th>
                <th>Song Name</th>
                <th>Artist</th>
                <th>Year</th>
            </tr>
            {{#each songs}}
            <tr>
                <td><audio controls>
                    <source src="/music/{{this.file}}" type ="audio/mpeg">
                    Your browser does not support the MP3 file type.
                </audio></td>
                <td>{{this.file}}</td>
                <td>{{this.title}}</td>
                <td>{{this.artist}}</td>
                <td>{{this.year}}</td>
            </tr>
            {{/each}}
        </table>
        <footer>
            <p>Copyright &copy; 2019 Sense. All rights reserved</p>
        </footer>
    </body>
</html>