<!DOCTYPE html>
<html lang ="en">
    
<head>
    <meta charset="utf-8">
    <title>Sense</title>
	<meta name="description" content="form to add and search songs">
	<meta name="author" content="Tiago Ferreira">
    <link href="css/global.css" type="text/css" rel="stylesheet">
    <link href="css/index.css" type="text/css" rel="stylesheet">
</head>

<body>
    <nav>
        <ul class="nav">
			<li class="siteName"><a href="/">Sense</a></li>
            <li><a href="logout">Logout</a></li>
			<li><a href="login">Login/Signup</a></li>
			<li><a href="upload">Upload</a></li>
			<li><a href="playlists">Playlists</a></li>
			<li><a href="songs">Songs</a></li>
            <li><a href="/">Home</a></li>
            <!--<form>
                <input type="text" placeholder="Search...">
				<input type="image" src="icons/SearchBarIcon.png" alt="search button" name="submit" />
            </form>-->
        </ul>
    </nav>

    <section>
        <h1>Songs</h1>
        <table class="featMusic">
            <colgroup>
				<col class="colAlbumArt">
				<col class="colSongName">
				<col class="colArtistName">
				<col class="colAlbumYear">
			</colgroup>
            <tr>
                <th></th>
                <th>Song Name</th>
                <th>Artist</th>
                <th>Year</th>
            </tr>
            {{#each songs}}
            <tr>
                <td><img src="images/noPlaylistArtAvailable.png" style="width: 100px"></td>
                <!--<td>{{this.file}}</td>-->
                <td><a href="/songs/{{id}}">{{this.title}}</a></td>
                <td>{{this.artist}}</td>
                <td>{{this.year}}</td>
            </tr>
            {{/each}}
        </table>
    </section>

	<footer>
    <hr>
        <p>Copyright &copy; 2019 Sense. All rights reserved.</p>
    </footer>
</body>
</html>